# Node modules
/node_modules/

# Tailwind CSS build output
/assets/tailwind.css

# Log files
*.log

# npm package lock file
package-lock.json

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# IDE/editor specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variable files
.env

# Build artifacts (if any)
dist/
build/

# Other temporary files
*.tmp
*.swp
