{% section 'header' %}

<div class="welcome">
  <h2>{{ 'general.welcome' | t }}</h2>
</div>

<div class="products">
  {% for product in collections.frontpage.products %}
    {% include 'product-card' %}
  {% endfor %}
</div>

{% section 'footer' %}
