
<div class="welcome">
  <h2>{{ 'general.welcome' | t }}</h2>
  <h1 class="text-3xl font-bold uppercase text-center text-gray-800 mb-4 mt-4 bg-black text-white">{{ shop.name }}</h1>
</div>

<div class="products">
  {% for product in collections.frontpage.products %}
    {% include 'product-card' %}
  {% endfor %}
</div>

